<div class="container">
    <h1>Select the Value</h1>
    <div class="select">
        <ng-select [items]="users" bindLabel="name" bindValue="id" [multiple]="true" [closeOnSelect]="false"
            placeholder="Select User" groupBy="gender" [selectableGroup]="true">

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input type="checkbox" [ngModel]="item$.selected" /> {{ item.name }}
            </ng-template>

        </ng-select>
    </div>
</div>

