.login-main {
    background-image: url(./../../../assets/images/login-background.jpg);
}

.main {
    border-radius: 5px;
    margin: 0 auto;
    padding: 25px;
    margin: 43px;
    background-color: #fff;
}

form>.username>div>input,
form>.password>div>input {
    border: none;
    outline: none;
}

form>.username>div>i {
    color: #adadad;
}

small {
    color: #333;
}

.login-btn{
    margin-top: 35px;
}

.login-btn>button {
    border-radius: 50px;
    padding-block: 5px;
    margin-top: 15px;
    color: white;
    width: 100%;
    background: rgb(106, 202, 222);
    background: linear-gradient(90deg, rgba(106, 202, 222, 1) 0%, rgba(225, 66, 246, 1) 82%);
}