<div class="login-main d-flex justify-content-center">
    <div class="main">
        <div class="login-heading text-center">
            <h2>Forgot Password</h2>
        </div>
        <div class="login-form">
            <form method="POST" [formGroup]="forgotform">

                <div class="username mt-5">
                    <small>Email</small>
                    <div class="border-bottom">
                        <i class="fa-solid fa-user"></i>
                        <input type="email" name="useremail" formControlName="email" id="Forgot-email"
                            placeholder="Type your Email">
                    </div>
                </div>

                <div class="login-btn">
                    <button type="submit" (click)="submit()" [disabled]="forgotform.invalid"
                        [class.disabled]="forgotform.invalid">Submit</button>
                    <button type="submit">Cancle</button>
                </div>

            </form>
        </div>



    </div>
</div>
<router-outlet></router-outlet>