<nav>
    <div class="logo">
        <button routerLink="/">MY-LOGO</button>
    </div>

    <div class="menu">

        <ng-container *ngIf="!isAdmin">
            <button routerLink="/home">HOME</button>
        </ng-container>
        <ng-container *ngIf="isAdmin">
            <button routerLink="/admin-Home">HOME</button>
        </ng-container>

        <button routerLink="/about">ABOUT</button>
        <button routerLink="/blogs">BLOGS</button>

        <ng-container *ngIf="!isAdmin">
            <button routerLink="/contact">CONTACT</button>
        </ng-container>

        <ng-container *ngIf="isAdmin">
            <button routerLink="/feedback">FEEDBACK</button>
        </ng-container>
    </div>

    <div class="login-serarch">
        <input type="text" name="search" class="form-control" id="search-record" placeholder="Search">
        <ng-container *ngIf="!isloggedIn">
            <button routerLink="/login" class="login-btn btn btn-primary">Login</button>
        </ng-container>
        <ng-container *ngIf="isloggedIn">
            <button routerLink="/login" class="logout-btn btn btn-primary"
                (click)="logout();adminlogout()">Logout</button>
        </ng-container>
    </div>
</nav>

<router-outlet></router-outlet>