.login-main {
    background-image: url(./../../../../../assets/images/login-background.jpg);
}

.main {
    border-radius: 5px;
    margin: 0 auto;
    padding: 25px;
    margin: 40px;
    background-color: #fff;
}

form>.username>div>input,
form>.password>div>input {
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}