<div class="about">
    <div class="about-heading">
        <h1>Default page</h1>
    </div>

    <div class="about-content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, ipsa cupiditate voluptatum officiis quae
            possimus saepe veniam harum ipsam unde officia iusto amet aperiam necessitatibus eum quas ab, quod
            explicabo!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, ipsa cupiditate voluptatum officiis quae
            possimus saepe veniam harum ipsam unde officia iusto amet aperiam necessitatibus eum quas ab, quod
            explicabo!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, ipsa cupiditate voluptatum officiis quae
            possimus saepe veniam harum ipsam unde officia iusto amet aperiam necessitatibus eum quas ab, quod
            explicabo!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, ipsa cupiditate voluptatum officiis quae
            possimus saepe veniam harum ipsam unde officia iusto amet aperiam necessitatibus eum quas ab, quod
            explicabo!</p>

    </div>
</div>