<div class="login-main d-flex justify-content-center">
    <div class="main">
        <div class="login-heading text-center">
            <h2>Register</h2>
        </div>

        <div class="login-form">
            <form action="" method="post" id="resetpassword" class="resetpassword" #resetpassword="ngForm">

                <label for="newpassword">Password: </label>
                <input type="password" aria-required="true" class="form-control mb-3" id="newpassword"
                    name="newpassword" placeholder="New Password*" autocomplete="off" ngModel />

                <label for="confirmpassword"> Confirm Password: </label>
                <input type="password" aria-required="true" class="form-control mb-3" id="confirmpassword"
                    name="confirmpassword" placeholder=" Confirm Password*" autocomplete="off" ngModel />

                <div *ngIf="show_error" class="mb-3 error-message">{{errormsg}}</div>

                <button type="submit" class="btn btn-primary" id="save_btn"
                    (click)="checkpassword(resetpassword.value);changed();">Change Password</button>
            </form>
        </div>

    </div>
</div>

<router-outlet></router-outlet>